/* Box Model Hack */
* {
  box-sizing: border-box;

}

body{
	background: black;
	color: white;
	font-family: 'Roboto', sans-serif;
}

header{
	position: relative;
	padding-top: 10px;
	padding-left: 60px;
	text-align: left;
	background: #212623;
	height: 200px;
	margin-top: 0px;
}

#carouselBackground{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 700px;
}

.links *{
	color: #20a5e3;
	margin-right: 20px;
}

#logo{
	position: absolute;
	top: 15px;
	right: 30px;
	height: 170px;
	width: 15%;
}

#overview{
	text-align: center;
}


.sec1{
	border: 5px solid grey;
	height: 300px;
}

.floatSec1{
	margin-top: 30px;
	margin-left: 30px;
	float: left;
	width: 50%;
}

.regInfo{
	width: auto;
	float: left;
	margin-top: 30px;
}

.regInfo h2{
	margin-left: 4%;
}

.regInfo li{
	color: red;
}

#coolCarousel{
	position: relative;
	margin: 40px 0;
	height: 400px;
}

.carouselMessage{
	padding-left: 50px;
	margin-top: 30px;
	font-size: 35px;
	float: left;
	width: 33.3333%;
}

.imageContainer{
	float: left;
	width: 66.6666%;
}

.imageContainer img{
	padding: 10px;
	border: 5px solid red;
	border-radius: 10%;
	margin-left: 40%;
	margin-top: 20px;
	width: 50%;
	height:350px;
}

.hidden{
	display: none;
}

#leftBtn, #rightBtn{
	position: absolute;
	border-radius: 50%;
	height: 50px;
	width: 3%;
	font-size: 30px;
	font-weight: bold;
}

#leftBtn{
	top: 311px;
	right: 1425px;
}

#rightBtn{
	top: 311px;
	right: 50px;
}
.chooseGame{
	height: 350px;
}

.chooseGame img{
	width: 50%;
	float: left;
	height: 300px;
}


span{
	font-size: 30px;
	margin-bottom: 10px;
	float: left;
	width: 50%;
	text-align: center;
}

.links a:hover{
	color: yellow;
}

footer{
	margin-top: 30px;
}

h4{
	text-align: center;
}

#overview{
	margin-top:350px;
}

#current{
	font-weight: bold;
}



